.placeholderImage {
  position: relative;
  width: 629px;
  height: 640px;
  object-fit: cover;
}
.heading,
.subheading {
  position: relative;
  line-height: 150%;
}
.heading {
  align-self: stretch;
  line-height: 120%;
}
.content2,
.sectionTitle {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content2 {
  text-align: left;
  font-size: var(--font-size-29xl);
  font-family: var(--font-cinzel);
}
.sectionTitle {
  gap: var(--gap-base);
}
.text {
  position: relative;
}
.header,
.text1 {
  align-self: stretch;
}
.header {
  border-bottom: 0.5px solid var(--color-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-5xl);
}
.text1 {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 300;
}
.content3,
.header1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.content3 {
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
}
.text2 {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
}
.card {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.unlikeOneTimeCosmetic {
  margin: 0;
}
.text4,
.text5 {
  position: relative;
  line-height: 150%;
  font-weight: 300;
}
.text4 {
  align-self: stretch;
  flex: 1;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.text5 {
  text-decoration: underline;
}
.cardParent,
.header5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.cardParent {
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-45xl);
}
.header5 {
  height: 160px;
  align-items: center;
}
.carrousel2,
.content1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.carrousel2 {
  width: 631px;
  height: 389px;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--font-size-sm);
}
.content1 {
  align-self: stretch;
  flex: 1;
  justify-content: space-between;
}
.column,
.content {
  display: flex;
  justify-content: flex-start;
}
.column {
  align-self: stretch;
  width: 616px;
  flex-direction: column;
  align-items: flex-start;
}
.content {
  width: 1311px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-31xl);
}
.arrowUpIcon {
  position: relative;
  width: 24px;
  height: 24px;
}
.aboutUs,
.down {
  display: flex;
  align-items: center;
}
.down {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.aboutUs {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-93xl) var(--padding-45xl) var(--padding-45xl);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-5xl);
}
.aboutUsSectionChild {
  position: absolute;
  top: 204px;
  left: 664px;
  width: 581px;
  height: 57px;
}
.aboutUsSection {
  text-decoration: none;
  position: relative;
  width: 100%;
  height: 1571px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--black);
  font-family: var(--font-hero);
}
